.resetPasswordContainer {
  width: 100vw;
  height: 100vh; /* Adjusted for header height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  inset: 0; /* shorthand for top:0; left:0; right:0; bottom:0 */
}

.resetPasswordBox {
  background-color: white;
  width: 400px; /* responsive width */
  padding: 30px 0px;
  margin-top: 100px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.resetPasswordHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.664);
  font: 400 25px "Roboto", sans-serif;
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 60%;
  margin: auto;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  gap: 1rem; /* better spacing */
  transition: all 0.5s;
}

.resetPasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative; /* required for svg positioning */
}

.resetPasswordForm > div > input {
  padding: 0.5rem 3rem 0.5rem 3rem; /* more even spacing */
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 18px cursive;
  outline: none;
}

.resetPasswordForm > div > svg {
  position: absolute;
  left: 1vmax;
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.resetPasswordBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto", sans-serif;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.resetPasswordBtn:hover {
  background-color: rgb(179, 66, 46);
}
.passwordInput {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordInput input {
  flex: 1;
  padding-right: 40px; /* space for button */
}

.passwordInput .toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  color: #555;
}

@media screen and (max-width: 767.9px) {
  .resetPasswordContainer {
    /* background-color: white; */
    padding: 0px 20px;
  }

  .resetPasswordBox {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 2rem 0;
    border-radius: 0;
    box-shadow: none;
  }
  .resetPasswordHeading {
    font-size: 1.5rem;
    width: 80%;
  }
  .resetPasswordForm {
    padding: 5vmax;
    gap: 2rem;
  }

  .resetPasswordForm > div > input {
    padding: 0.5rem 2rem 0.5rem 2rem;
    font: 300 1.1rem cursive;
  }

  .resetPasswordForm > div > svg {
    font-size: 1.5rem;
    
  }
  .resetPasswordBox .css-1umw9bq-MuiSvgIcon-root{
    font-size: 1.5rem;
  }
  .resetPasswordBtn {
    font: 300 1.9vmax "Roboto", sans-serif;
    padding: 1.8vmax;
  }
}
